@import "_vars.less";

.the-edge-hotbar {
  position: relative;
  width: 100%;
  height: auto;
  opacity: 1;
  display: block;

  .hotbar-content {
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    display: flex;

    .hotbar-actor-name {
      font-size: 18px;
      width: 85%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .hotbar-carousel-button {
      border: none;
      background: none;
      box-shadow: none;
      color: var(--font-main-color);

      &:hover {
        filter: drop-shadow(0 0 3px var(--font-main-color))
      }
    }

    .hotbar-content-attributes {
      position: absolute;
      left: 15px;
      top: 10px;
      width: calc(17% - 15px);
      bottom: 15px;
    }

    .hotbar-content-status-bars {
      position: absolute;
      left: 19%;
      top: 10px;
      width: 14%;
      bottom: 15px;
    }

    .hotbar-content-proficiency {
      position: absolute;
      left: 35%;
      top: 25px;
      width: 14%;
      bottom: 0;
    }

    .hotbar-content-weapon {
      position: absolute;
      left: 51%;
      top: 25px;
      width: 14%;
      bottom: 0;
    }

    .hotbar-content-dynamic {
      position: absolute;
      left: 67%;
      top: 25px;
      right: 15px;
      bottom: 0;
    }

    .hotbar-d20 {
      width: 130%;
      box-shadow: none;

      &:hover {
        filter: drop-shadow(0 0 3px var(--font-main-color));
      }
    }

    .hotbar-d20-proficiency {
      width: 10%;
      min-width: 10%;
      height: fit-content;
      min-height: 10pt;
      background: none;
      border: none;
      box-shadow: none;
    }

    .hotbar-d20-overlay {
      white-space: nowrap;
      position: absolute;
      transform: translate(0%, 10%);
      font-weight: bold;
      font-size: 14px;
      filter: drop-shadow(0 0 2px white);
      border-radius: 5px;
      color: @font-main-color-inverted;
    }

    .hotbar-double-column {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-gap: 5px;
      margin-top: 5px;
      width: 100%;
    }

    .hotbar-item-element {
      padding: 2px 12px 2px 12px !important;
      height: 30px !important;
      line-height: 24px !important;
      color: var(--font-main-color);
    }

    .hero-token-img {
      border: none;
      background-color: transparent;
      background-position: center center;
      height: 100%;
      aspect-ratio: 1;
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
    }

    .hotbar-button {
      width: 100%;
      justify-content: start;
      padding: 0 3px;

      .button-text {
        width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: start;
      }
    }
  }
}
