@import "_vars.less";

:root {
  --colour-ui-main-1: @colour-ui-main-1;
  --colour-ui-main-2: @colour-ui-main-2;
  --colour-ui-main-background: @colour-ui-main-background;
  --colour-ui-main-background-1: @colour-ui-main-background-1;
  --colour-ui-main-background-2: @colour-ui-main-background-2;

  --colour-ui-secondary: @colour-ui-secondary;
  --colour-ui-secondary-1: @colour-ui-secondary-1;

  --font-main-color: @font-main-color;
  --font-main-color-inverted: @font-main-color-inverted;
  --font-secondary-color: @font-secondary-color;
  --colour-text-light-highlight: @colour-text-light-highlight;

  --gap-boxes: @gap-boxes;
  --tab-bar-height: @tab-bar-height;

  // Overwrite Foundry settings
  --colour-underline-header: @colour-ui-secondary;
}
