// MARK: Colours
@colour-ui-main-1: #70d7f2;
@colour-ui-main-background: #31395a;
@colour-ui-main-background-1: #2a395a;
@colour-ui-main-background-2: #2a507a;

@colour-ui-secondary: #bd9f09;
@colour-ui-secondary-1: #f29d70;

@font-main-color: #e4e7fe;
@font-secondary-color: #ccc;
@colour-text-light-highlight: #fff;

// MARK: Sizes
@gap-boxes: 10px;


:root {
  --colour-ui-main-1: @colour-ui-main-1;
  --colour-ui-main-background: @colour-ui-main-background;
  --colour-ui-main-background-1: @colour-ui-main-background-1;
  --colour-ui-main-background-2: @colour-ui-main-background-2;

  --colour-ui-secondary: @colour-ui-secondary;
  --colour-ui-secondary-1: @colour-ui-secondary-1;

  --font-main-color: @font-main-color;
  --font-secondary-color: @font-secondary-color;
  --colour-text-light-highlight: @colour-text-light-highlight;

  --gap-boxes: @gap-boxes;
  // Overwrite Foundry settings
  --colour-underline-header: @colour-ui-secondary;
}
