@import "root.less";

@bevel-size: 20px;
@bevel-color: #f0f0f0;

.box-passive {
  padding: 1px 5px 1px 5px;
  border: 3px solid var(--colour-ui-main-background-2);
  box-shadow:
    1px 1px 3px fade(@colour-ui-main-background-2, 50%) inset,
    1px 1px 3px fade(@colour-ui-main-background-2, 50%);
}

.ui-keyword {
  display: inline-flex;
  align-items: flex-start;
  vertical-align: bottom;

  .ui-keyword-inner {
    background-color: @colour-ui-main-background-2;
  }
}

.ui-keyword::before {
  content: url("../assets/bracket_left.svg");
  display: inline-block;
  height: 1lh;
  width: calc(0.3333 * 1lh);
  vertical-align: top;
  margin-left: 1px;
}

.ui-keyword::after {
  content: url("../assets/bracket_right.svg");
  display: inline-block;
  height: 1lh;
  width: calc(0.3333 * 1lh);
  vertical-align: top;
  margin-right: 1px;
}
