<section
  class="tab {{tabs.attributes.cssClass}}"
  data-group="primary"
  data-tab="attributes"
>
  {{> systems/the_edge/templates/actors/character/attributes/main_attributes.hbs}}

  <div class="columned-page">
    <div class="fixed-page">
      {{> systems/the_edge/templates/actors/character/attributes/languages.hbs}}
    </div>
    <div class="fixed-page">
      {{> systems/the_edge/templates/actors/character/attributes/conditioning.hbs}}
    </div>
  </div>

  {{> systems/the_edge/templates/actors/skills.hbs name="Skills" skills=Skill}}

  <div class="columned-page">
    <div class="fixed-page">
      {{> systems/the_edge/templates/actors/skills.hbs name="Advantage" skills=Advantage skill-container-style="columns: 2"}}
      {{> systems/the_edge/templates/actors/skills.hbs name="Disadvantage" skills=Disadvantage skill-container-style="columns: 2"}}
    </div>
    <div class="fixed-page">
      {{> systems/the_edge/templates/actors/character/attributes/progress.hbs}}
    </div>
  </div>
</section>