<div class="actor-biography groupbox">
  <div class="title">
    <div class="section-title">{{genName "Biology"}}</div>
  </div>
  <div style="display: flex; justify-content: space-between;">
    <div style="white-space: nowrap;">
      <label for="Age">{{genName "Age"}}</label>
      <input name="system.age" id="Age" type="text" value="{{systemData.age}}" min="21" placeholder="Name" style="max-width: 50px; text-align: right;"/>
    </div>
    <div style="white-space: nowrap;">
      <label for="Sex Selector">{{genName "Sex"}}</label>
      <select class="selection-box" name="system.sex" id="Sex Selector">
        <option value="female" {{#if (checkEqual systemData.sex 'female')}}selected{{/if}}>{{genName "female"}}</option>
        <option value="male" {{#if (checkEqual systemData.sex 'male')}}selected{{/if}}>{{genName "male"}}</option>
        <option value="N.A." {{#if (checkEqual systemData.sex 'N.A.')}}selected{{/if}}>{{genName "N.A."}}</option>
      </select>
    </div>
    <div style="white-space: nowrap;">
      <label for="Height">{{genName "Height"}} [cm]</label>
      <input name="system.height" type="number" value="{{systemData.height}}" placeholder="165" min="0" style="max-width: 50px; text-align: right;"/>
    </div>
    <div style="white-space: nowrap;">
      <label for="Blood Type Selector">{{genName "Blood type"}}</label>
      <select class="selection-box" name="system.bloodType" id="Blood Type Selector">
        <option value="AB" {{#if (checkEqual systemData.bloodType 'AB')}}selected{{/if}}>AB</option>
        <option value="B" {{#if (checkEqual systemData.bloodType 'B')}}selected{{/if}}>B</option>
        <option value="A" {{#if (checkEqual systemData.bloodType 'A')}}selected{{/if}}>A</option>
        <option value="0" {{#if (checkEqual systemData.bloodType '0')}}selected{{/if}}>0</option>
      </select>
    </div>
    <div style="white-space: nowrap;">
      <label for="Handedness Selector">{{genName "Handedness"}}</label>
      <select class="selection-box" name="system.handedness" id="Handedness Selector">
        <option value="right" {{#if (checkEqual systemData.handedness 'right')}}selected{{/if}}>{{genName "right"}}</option>
        <option value="left" {{#if (checkEqual systemData.handedness 'left')}}selected{{/if}}>{{genName "left"}}</option>
      </select>
    </div>
  </div>
  <div class="title">
    <div class="section-title">{{genName "Biography"}}</div>
  </div>
  <div class="character-editor-wrap">
    {{editor biographyHTML target="system.biography" button=true editable=editable engine="prosemirror"}}
  </div>
  <div class="title">
    <div class="section-title">{{genName "Notes"}}</div>
  </div>
  <div class="character-editor-wrap">
    {{editor notesHTML target="system.notes" button=true editable=editable engine="prosemirror"}}
  </div>
</div>