{{#each effectDict as |effects sourceName|}}
  {{#if (checkDisplayEffects sourceName effects)}}
    <div class="title" style="padding-right: 10px;">
      <div class="section-title">{{genName sourceName}}</div>
      {{#if (checkEqual sourceName "effects")}}
        <div title="{{ itemName 'Create' }}" data-action="effectControl" data-source="{{sourceName}}"
          data-subaction="create" style="gap: 5px; cursor: pointer;">
          {{itemName "New Effect"}}
          <a><i class="fas fa-plus"></i></a>
        </div>
      {{/if}}
    </div>
    {{> systems/the_edge/templates/actors/character/health/effect-list.hbs
      effects=effects
      source=sourceName
      activatable=(getEntry ../effectToggle sourceName)
      isUserEffect=(checkEqual sourceName "effects")
      definedEffects=../definedEffects
      expandable=(or (checkEqual sourceName "effects") (checkEqual sourceName "statusEffects"))
      effectIsExpandedList=(getEntries ../effectIsExpanded sourceName)
    }}
  {{/if}}
{{/each}}
