<button class="icon-selector {{#if selected}}icon-selector-selected{{/if}}"
  data-action="iconSelectorClicked" data-icon-type="{{iconType}}" data-value="{{value}}">
  <img src="{{icon}}" style="width: 24px;"/>
</button>
