<div class="centered-row">
  <b>{{attrName attribute}} {{genName "Check"}}: </b>
  <a class="attr-d20-chat d20-{{attribute}}">
    <span class="d20-overlay" data-tooltip="{{attrName attribute}} {{genName 'threshold'}}: {{threshold}}">{{roll}}</span>
  </a>
</div>
<div class="centered-row">
  <b>{{genName "result"}}:</b>
  <span>{{genName outcome}}</span>
</div>
<div class="centered-row">
  <b>{{genName "Modificators"}}: </b>
  <span>Temp: {{temporary}}</span>
</div>
{{#if (checkEqual advantage "Nothing")}}
{{else}}
<div class="centered-row">
  <b>{{genName "with"}} {{genName advantage}}</b>
</div>
{{/if}}