<li class="chat-message message flexcol the_edge" data-message-id="{{message._id}}" {{#if borderColor}}style="border-color:{{borderColor}}" {{/if}}>
    <header class="message-header flexrow">
      {{#if message.speaker.alias}}
        <h4 class="message-sender">{{message.speaker.alias}}</h4>
      {{else}}
        <h4 class="message-sender">{{alias}}</h4>
      {{/if}}
      <span class="message-metadata">
      <time class="message-timestamp">{{timeSince message.timestamp}}</time>
      {{#if isWhisper}}
        <span class="chatIndicator"><i data-tooltip="CHATNOTIFICATION.WHISPER" class="fas fa-eye-slash"></i></span>
      {{else}}
        <span class="chatIndicator"><i data-tooltip="CHATNOTIFICATION.PUBLIC MESSAGE" class="fas fa-eye"></i></span>
      {{/if}}
      {{#if message.blind}}
        <span class="privateMessageIndicator"><i data-tooltip="CHATNOTIFICATION.BLIND MESSAGE" class="fas fa-mask"></i></span>
      {{/if}}
      {{#if user.isGM}}
        <a class="button message-delete" data-tooltip="CHATNOTIFICATION.DELETE"><i class="fas fa-trash"></i></a>
      {{/if}}
      </span>
    </header>
    <div class="message-content">
        {{{message.content}}}
    </div>
</li>