<li class="chat-message message flexcol the_edge" data-message-id="{{message._id}}" {{#if borderColor}}style="border-color:{{borderColor}}" {{/if}}>
    <header class="message-header flexrow">
      <h4 class="message-sender">{{alias}}</h4>
      <span class="message-metadata">
          <time class="message-timestamp">{{timeSince message.timestamp}}</time>
          <span class="chatIndicator"><i data-tooltip="CHATNOTIFICATION.BLIND ROLL" class="fas fa-eye-slash"></i></span>
      <span class="privateMessageIndicator"><i data-tooltip="CHATNOTIFICATION.WHISPER" class="fas fa-mask"></i></span>
      {{#if user.isGM}}
        <a class="button message-delete" data-tooltip="CHATNOTIFICATION.DELETE"><i class="fas fa-trash"></i></a>
      {{/if}}
      </span>
    </header>
    <div class="message-content">
        {{{message.content}}}
    </div>
</li>