<h3>{{grenade.actor.name}} &ndash; {{grenade.name}} {{genName "check"}}</h3>
<div class="centered-row proficiency-roll" data-actor-id="{{actorID}}" data-token-id="{{tokenID}}" data-proficiency="Jumping">
  <b>{{proficiencyName "throwing"}}</b>&mdash;
  <div class="roll">{{genName "roll check"}}</div>
</div>
<div class="centered-row">
  <b>{{itemName "Blast distance"}}: </b>
  {{details.blastDistance}}
</div>
<div class="centered-row">
  <b>{{genName "Damage"}}: </b>
  <div>{{genName "roll check"}} {{details.damage}}</div>
</div>