<h3>{{proficiencyName proficiency}}</h3>
<div class="centered-row">
  <b>{{genName "Check"}}: </b>
  {{#each dices as |dice|}}
  <a class="attr-d20-chat d20-{{dice}}">
    <span class="d20-overlay" data-tooltip="{{attrName dice}} {{genName 'threshold'}}: {{getEntry ../thresholds @index}}">{{getEntry ../results @index}}</span>
  </a>
  {{/each}}
</div>
<div class="centered-row">
  <b>{{genName "result"}}:</b>
  <span>{{genName outcome}}&#8195;{{quality}}&thinsp;{{#if (checkEqual outcome "Success")}}QL{{else}}FL{{/if}}</span>
</div>
<div class="centered-row">
  <b>{{genName "Modificators"}}: </b>
  <span>Perm: {{character_mod}}&#8195;Temp: {{temporary_mod}}</span>
</div>
{{#if (checkEqual advantage "Nothing")}}
{{else}}
<div class="centered-row">
  <b>{{genName "with"}} {{genName advantage}}</b>
</div>
{{/if}}