<div class="check-dialog-box" style="padding-bottom: 15px;">
  {{#each actions as |action|}}
    <div style="display: flex; gap: 5px; width: 100%; justify-content: space-between; align-items: center;">
      <b>{{combatName action}}</b>
      <select class="advantage-box" name="StrainSelector" style="width: 60%;">
        {{#each ../strainLevel as |strain|}}
          <option value="{{@index}}">{{combatName "Strain Level"}} {{@index}}</option>
        {{/each}}
      </select>
    </div>
  {{/each}}
  <div style="display: flex; gap: 5px; width: 100%; justify-content: space-between; align-items: center;">
    <b>{{combatName "Communication"}}</b>
    <select class="advantage-box" name="CommunicationSelector" style="width: 60%;">
      {{#each communicationOptions as |communication|}}
        <option value="{{@index}}">{{combatName communication}}</option>
      {{/each}}
    </select>
  </div>
  <details>
    <summary>{{genName "Description"}}</summary>
    <div>
      {{#each strainLevel as |strain|}}
        <div>
          {{combatName strain}}: {{textLocalisation strain}}
        </div>
      {{/each}}
    </div>
  </details>
</div>