<div class="check-dialog-box">
  {{#if (checkEqual targetIds.length 0)}}
    <div style="width: 100%;"><h2>{{combatName "Missing Target"}}</h2></div>
  {{/if}}
  <table>
    <tr>
      <td>
        <div class="dialog-modifier">
          <label for="Modifier">Modifiers:</label>
          <input name="Modifier" type="number" data-dtype="Number" value="0" id="Modifier" class="input-box">
        </div>
      </td>
      <td>
        <select class="advantage-box" name="VantageSelector" id="VantageSelector">
          <option value="Nothing">No Advantage</option>
          <option value="Advantage">Advantage</option>
          <option value="Disadvantage">Disadvantage</option>
        </select>
      </td>
    </tr>
  </table>
</div>
<p>Status effects: </p>