<section
  class="tab {{tabs.combat.cssClass}} tab-scrollable"
  data-group="primary"
  data-tab="combat"
>
  {{> systems/the_edge/templates/actors/character/combat/weapon_overview.hbs}}
  {{>
    systems/the_edge/templates/actors/skills.hbs name="Combat skills" skills=Combatskill
  }}
  {{>
    systems/the_edge/templates/actors/skills.hbs name="Medical skills" skills=Medicalskill
  }}
  <br />
  {{> systems/the_edge/templates/actors/character/combat/proficiencies.hbs}}
</section>