<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
            <div class="resource nobr">
                <input type="number" name="system.health.value" value="{{systemData.health.value}}"/>
                <span> / </span>
                <input type="number" name="system.health.max" value="{{systemData.health.max}}"/>
            </div>
            <div class="resource">
                <input type="number" name="system.heartRate.value" value="{{systemData.heartRate.value}}"/>
                <span> / </span>
                <input type="number" name="system.heartRate.max" value="{{systemData.heartRate.max}}"/>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="skills">Skills</a>
        <a class="item" data-tab="items">Items</a>
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{> systems/the_edge/templates/actors/attributes/layout.html}}
        </div>
        <div class="tab attributes" data-group="primary" data-tab="skills">
            {{> systems/the_edge/templates/actors/skills.html}}
        </div>
        <div class="tab items" data-group="primary" data-tab="items">
            {{> systems/the_edge/templates/actors/items.html}}
        </div>
        <div class="tab description" data-group="primary" data-tab="description">
            {{> systems/the_edge/templates/actors/biography.html}}
        </div>
    </section>
</form>
