<div class="actor-biography groupbox">
  <h3>Effects</h3>
  {{#each data.items as |item id|}}
    {{#if (checkEqual item.type "effect")}}
      <div class="item-control item" data-action="edit" data-item-id="{{item._id}}" style="cursor: pointer;">
        {{item.name}}
      </div>
    {{/if}}
  {{/each}}
  <hr />
  <h3>Item Effects</h3>
  {{#each data.items as |item id|}}
    {{#if (checkIn "effect" item.system)}}
      <div class="item-control item" data-action="edit" data-item-id="{{item._id}}" style="cursor: pointer;">
        {{item.name}}
      </div>
    {{/if}}
  {{/each}}
  <hr />
  {{editor biographyHTML target="system.biography" button=true editable=editable engine="prosemirror"}}
</div>