{{#each helpers.types as |type|}}
  <div class="title">
    <div class="section-title">{{itemName type}}</div>
    <div class="item-control" title="{{ itemName 'Create' }}" data-action="create" data-type="{{type}}" style="gap: 5px; cursor: pointer;">
      {{itemName "Create"}}
      <a><i class="fas fa-plus"></i></a>
    </div>
  </div>
  <ol class="item-list item-category" data-category="{{loc}}" style="margin-bottom: 15px; padding: 0px 5px 0px 5px;">
    {{#each ../data.items as |item id|}}
      {{#if (checkRenderItem item type)}}
        <li class="item" data-item-id="{{item._id}}" style="break-inside: avoid;">
          <div class="flexrow">
            <div class="item-control" data-action="edit" style="cursor: pointer; display: flex; vertical-align: center;">
              <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
              <b>
                {{#if (checkAttachment item)}}
                  ({{genName "Attachment"}})
                {{/if}}
                {{#if (checkIn "quantity" item.system)}}
                  {{item.system.quantity}} x 
                {{/if}}
                {{item.name}}
                {{#if (checkEqual item.type "Ammunition")}}
                  {{getAmmunitionCount item}}
                {{/if}}
                {{#if (checkEqual item.type "Armour")}}
                  {{getStructurePoints item}}
                {{/if}}
              </b>
            </div>
            <div class="item-controls">
              {{#if (checkIn "equipped" item.system)}}
                {{#if item.system.equipped}}
                  <a class="item-control" title="{{ itemName 'Unequip' }}" data-action="toggle-equip"><i class="far fa-check-circle"></i></a>
                {{else}}
                  <a class="item-control" title="{{ itemName 'Equip' }}" data-action="toggle-equip"><i class="far fa-circle"></i></a>
                {{/if}}
              {{/if}}
              {{#if (checkEqual item.type "Consumables")}}
                  <a class="item-control" title="{{ itemName 'Use' }}" data-action="consume"><i class="far fa-dice-d20"></i></a>
              {{/if}}
              <!-- <a class="item-control" title="{{ itemName 'Edit' }}" data-action="edit"><i class="fas fa-edit"></i></a> -->
              <a class="item-control" title="{{ itemName 'Delete' }}" data-action="delete"><i class="fas fa-trash"></i></a>
            </div>
          </div>
          {{#if (checkNotEmpty item.system.attachments)}}
            {{#each item.system.attachments as |attachment|}}
              <div class="item flexrow" data-item-id="{{attachment.shell._id}}" style="border-bottom: 0px;">
                <div class="item-control" data-action="edit" style="cursor: pointer; display: flex; align-items: center;">
                  <a class="item-control" style="padding: 0px 8px;"><i class="fas fa-turn-up" style="transform: rotate(90deg);"></i></a>
                  <img src="{{attachment.shell.img}}" title="{{attachment.shell.name}}" width="24" height="24" />
                  <b>({{genName "Attachment"}}) {{attachment.shell.name}} {{getStructurePoints item}}</b>
                </div>
                <div class="item-controls">
                  <a class="item-control" title="{{ itemName 'Unequip' }}" data-action="toggle-equip"><i class="far fa-check-circle"></i></a>
                  <a class="item-control" title="{{ itemName 'Delete' }}" data-action="delete"><i class="fas fa-trash"></i></a>
                </div>
              </div>
            {{/each}}
          {{/if}}
        </li>
      {{/if}}
    {{/each}}
  </ol>
{{/each}}
<div class="title">
  <div class="section-title">{{itemName "Others"}}</div>
</div>
<div style="display: flex; justify-content: space-between;">
  <div style="display: flex; gap: 20px;">
    <div class="section-title">{{genName "Credits"}}</div>
    <div style="max-width: 30%;">
      <input type="Number" id="Chids" style="width: 70%; text-align: right;" name="system.credits.chids" value="{{systemData.credits.chids}}"/>
      <lavel for="Chids">Chids</lavel>
    </div>
    <div style="max-width: 30%;">
      <input type="Number" id="Chids" style="width: 70%; text-align: right;" name="system.credits.digital" value="{{systemData.credits.digital}}"/>
      <lavel for="Chids">{{genName "digital"}}</lavel>
    </div>
  </div>
  <div style="display: flex; gap: 20px; align-items: center;">
    <div class="section-title">{{genName "Weight"}}</div>
    <div>{{round helpers.weight 2}}</div>
    <div style="white-space: nowrap;" title="{{getNextWeightClass helpers.weight systemData.attributes.str.value}}">
      {{getWeightClass helpers.weight systemData.attributes.str.value}}
    </div>
  </div>
</div>