{{#each helpers.locations as |loc|}}
    <h3>{{genName loc}}</h3>
    <hr />
    <ol class="item-list">
        {{#each ../data.items as |item id|}}
            {{log item}}
            {{#if (checkEqual loc item.system.location)}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="flexrow item-control" data-action="edit" style="cursor: pointer;"">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                        <h4 class="item-name">{{item.name}}</h4>
                    </div>
                    <div class="item-controls">
                        {{#if (checkIn "equipped" item.system)}}
                            {{#if item.system.equipped}}
                                <a class="item-control" title="{{ itemName 'Unequip' }}" data-action="toggle-equip"><i class="far fa-check-circle"></i></a>
                            {{else}}
                                <a class="item-control" title="{{ itemName 'Equip' }}" data-action="toggle-equip"><i class="far fa-circle"></i></a>
                            {{/if}}
                        {{/if}}
                        <a class="item-control" title="{{ itemName 'Edit' }}" data-action="edit"><i class="fas fa-edit"></i></a>
                        <a class="item-control" title="{{ itemName 'Delete' }}" data-action="delete"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/if}}
        {{/each}}
    </ol>
{{/each}}
<p>
    <a class="item-control" title="{{ itemName 'Create' }}" data-action="create"><i class="fas fa-plus"></i> {{ itemName "Create" }}</a>
</p>