<div class="columned-page">
  <div class="fixed-page">
    {{#each prepare.skillsLeft as |skills category|}}
      <div class="skill-box skill-header">
        <div class="skill-title">{{category}}</div>
        <div class="skill-column">{{genName "Adv"}}</div>
        <div class="skill-column">{{genName "Mod"}}</div>
        <div class="skill-column"></div>
        <div class="skill-column"></div>
        <div class="skill-column"></div>
      </div>
      <hr />
      {{#each skills as |skill|}}
      <div class="skill-box">
        <div class="name">
          {{skill}}
        </div>
        <div class="skill-column">
          <span class="output">{{getSkill ../../actor category skill 'advances'}}</span>
        </div>
        <div class="skill-column">
          <div class="input-restrainer">
            <input name="system.skills.{{category}}.{{skill}}.modifier" type="number" value="{{getSkill ../../actor category skill 'modifier'}}" data-dtype="Number">
          </div>
        </div>
        <div class="skill-column">
          <a class="attr-d20-skill d20-{{getSkillDice ../../actor skill 0}}" data-tooltip="{{getSkillDice ../../actor skill 0}}">
              <span class="d20-overlay-skill">{{getSkillDice ../../actor skill 0}}</span>
          </a>
        </div>
        <div class="skill-column">
          <a class="attr-d20-skill d20-{{getSkillDice ../../actor skill 1}}" data-tooltip="{{getSkillDice ../../actor skill 1}}">
              <span class="d20-overlay-skill">{{getSkillDice ../../actor skill 1}}</span>
          </a>
        </div>
        <div class="skill-column">
          <a class="attr-d20-skill d20-{{getSkillDice ../../actor skill 2}}" data-tooltip="{{getSkillDice ../../actor skill 2}}">
              <span class="d20-overlay-skill">{{getSkillDice ../../actor skill 2}}</span>
          </a>
        </div>
      </div>
      {{/each}}
    {{/each}}
  </div>
  <div class="fixed-page">
    {{#each prepare.skillsRight as |skills category|}}
      <div class="skill-box skill-header">
        <div class="skill-title">{{category}}</div>
        <div class="skill-column">{{genName "Adv"}}</div>
        <div class="skill-column">{{genName "Mod"}}</div>
        <div class="skill-column"></div>
        <div class="skill-column"></div>
        <div class="skill-column"></div>
      </div>
      <hr />
      {{#each skills as |skill|}}
      <div class="skill-box">
        <div class="name">
          {{skill}}
        </div>
        <div class="skill-column">
          <span class="output">{{getSkill ../../actor category skill 'advances'}}</span>
        </div>
        <div class="skill-column">
          <div class="input-restrainer">
            <input name="system.skills.{{category}}.{{skill}}.modifier" type="number" value="{{getSkill ../../actor category skill 'modifier'}}" data-dtype="Number">
          </div>
        </div>
        <div class="skill-column">
          <a class="attr-d20-skill d20-{{getSkillDice ../../actor skill 0}}" data-tooltip="{{getSkillDice ../../actor skill 0}}">
              <span class="d20-overlay-skill">{{getSkillDice ../../actor skill 0}}</span>
          </a>
        </div>
        <div class="skill-column">
          <a class="attr-d20-skill d20-{{getSkillDice ../../actor skill 1}}" data-tooltip="{{getSkillDice ../../actor skill 1}}">
              <span class="d20-overlay-skill">{{getSkillDice ../../actor skill 1}}</span>
          </a>
        </div>
        <div class="skill-column">
          <a class="attr-d20-skill d20-{{getSkillDice ../../actor skill 2}}" data-tooltip="{{getSkillDice ../../actor skill 2}}">
              <span class="d20-overlay-skill">{{getSkillDice ../../actor skill 2}}</span>
          </a>
        </div>
      </div>
      {{/each}}
    {{/each}}
  </div>
</div>