<div class="actor-health groupbox">
  <h3>{{genName "Effects"}}</h3>
  <div class="effect-list">
    {{#each data.items as |item id|}}
      {{#if (checkEqual item.type "Effect")}}
        <div class="item effect-box" data-item-id="{{item._id}}" style="cursor: pointer;">
          <div class="item-control" data-action="edit">
            {{item.name}}
          </div>
          <div>
            {{#if item.system.deactivatable}}
              {{#if item.system.active}}
                <a class="item-control" title="{{ itemName 'Deactivate' }}" data-action="toggle-active"><i class="far fa-check-circle"></i></a>
              {{else}}
                <a class="item-control" title="{{ itemName 'Activate' }}" data-action="toggle-active"><i class="far fa-circle"></i></a>
              {{/if}}
            {{/if}}
            <a class="item-control" title="{{ itemName 'Delete' }}" data-action="delete"><i class="fas fa-trash"></i></a>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
  <div style="justify-content: end;">
    <a class="item-control" title="{{ itemName 'Create' }}" data-action="create-effect"><i class="fas fa-plus"></i> {{itemName "New Effect"}}</a>
  </div>
  <hr />
  <h3>{{genName "Item Effects"}}</h3>
  <div class="effect-list">
    {{#each data.items as |item id|}}
      {{#if item.system.equipped}}
        {{#if (checkNotEmpty item.system.effects)}}
          <div class="item-control item effect-box" data-action="edit" data-item-id="{{item._id}}" style="cursor: pointer;">
            {{item.name}}
          </div>
        {{/if}}
      {{/if}}
    {{/each}}
  </div>
  <hr />
  <h3>{{genName "Injuries"}}</h3>
  <div style="display: flex; justify-content: flex-start; gap: 20px; padding: 10px;">
    <div class="wound-overview">
      {{#if (checkEqual systemData.sex "female")}}
        <img src="systems/the_edge/icons/body_female.png" alt="Background" class="background-image">
      {{else}}
        <img src="systems/the_edge/icons/body_male.png" alt="Background" class="background-image">
      {{/if}}
      <div class="overlay">
        {{#each data.items as |item id|}}
          {{#if (checkEqual item.type "Wounds")}}
            <div class="item-control item" data-action="edit" data-item-id="{{item._id}}" style="cursor: pointer;">
              {{{getWoundCoords item.system}}}
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
    <div>
      <div style="gap: 20px;">
        <div style="display: flex; gap: 20px; padding-bottom: 10px;">
          <div class="short-rest" style="display: flex; white-space: nowrap; gap: 5px; cursor: pointer;" title="{{genName 'Short rest duration'}}">
            <b>{{genName "Short rest"}}</b>
            <a><i class="fas fa-campground"></i></a>
          </div>
          <div class="long-rest" style="display: flex; white-space: nowrap; gap: 5px; cursor: pointer;" title="{{genName 'Long rest duration'}}">
            <b>{{genName "Long rest"}}</b>
            <a><i class="fas fa-bed"></i></a>
          </div>
          <div class="apply-damage" style="display: flex; white-space: nowrap; gap: 5px; cursor: pointer;">
            <b>{{genName "Apply Damage"}}</b>
            <a><i class="fas fa-heart-circle-minus"></i></a>
          </div>
        </div>
        <div style="display: flex; gap: 20px; padding-bottom: 20px; vertical-align: middle;">
          <div>
            {{genName "Total Damage"}}: {{helpers.damage}}
          </div>
          <div>
            {{genName "Total Bleeding"}}: {{helpers.bleeding}}
          </div>
          <div style="gap: 5px;">
            <label for="bloodloss">{{genName "Blood loss"}}:</label>
            <input 
                name="system.bloodLoss.value" id="bloodloss" type="number" value="{{systemData.bloodLoss.value}}"
                style="width: 28px; max-height: 16px; text-align: right;"
            />
          </div>
        </div>
      </div>
      <div style="columns: 2;">
        {{#each helpers.bodyParts as |bPart|}}
          <div style="padding-bottom: 10px; break-inside: avoid-column; min-width: 200px;">
            <div style="display: flex;">
              <b>{{genName bPart}}</b>
              &emsp;
              <div class="apply-damage" style="display: flex; white-space: nowrap; gap: 5px; cursor: pointer;" data-location={{bPart}}>
                <a><i class="fas fa-heart-circle-minus"></i></a>
              </div>
            </div>
            <hr />
            {{#each ../data.items as |item id|}}
              {{#if (checkEqual item.type "Wounds")}}
                {{#if (checkInstance bPart item.system.bodyPart)}}
                  <div class="item" data-item-id="{{item._id}}" style="cursor: pointer; min-width: 200px;">
                    <div class="item-control" data-action="edit">
                      <h4 class="item-name" style="margin: 0px;">{{item.name}}</h4>
                    </div>
                    <div class="item-controls" style="white-space: no-wrap; padding: 0 0 5px 10px;">
                      <div class="item-control" data-action="edit" style="display: flex; gap: 5px;">
                        {{combatName item.system.type}} - {{itemName item.system.status}}
                        <i class="fa-regular {{getWoundIcon item.system.status}}" style="font-size: 12px; transform: translateY(2px);"></i>
                      </div>
                      <div style="display: flex; justify-content: space-between;">
                        <div>{{genName "Damage"}} {{item.system.damage}}</div>
                        <div>{{genName "Bleeding"}} {{item.system.bleeding}}</div>
                        <a class="item-control" title="{{ itemName 'Delete' }}" data-action="delete"><i class="fas fa-trash"></i></a>
                      </div>
                    </div>
                  </div>
                {{/if}}
              {{/if}}
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>