<div class="actor-health groupbox">
  <h3>{{genName "Effects"}}</h3>
  <div class="effect-list">
    {{#each data.items as |item id|}}
      {{#if (checkEqual item.type "Effect")}}
        <div class="item-control item effect-box" data-action="edit" data-item-id="{{item._id}}" style="cursor: pointer;">
          {{item.name}}
          <a class="item-control" title="{{ itemName 'Delete' }}" data-action="delete"><i class="fas fa-trash"></i></a>
        </div>
      {{/if}}
    {{/each}}
  </div>
  <div style="justify-content: end;">
    <a class="item-control" title="{{ itemName 'Create' }}" data-action="create-effect"><i class="fas fa-plus"></i> {{itemName "New Effect"}}</a>
  </div>
  <hr />
  <h3>{{genName "Item Effects"}}</h3>
  <div class="effect-list">
    {{#each data.items as |item id|}}
      {{#if item.system.equipped}}
        {{#if item.system.hasEffect}}
          <div class="item-control item effect-box" data-action="edit" data-item-id="{{item._id}}" style="cursor: pointer;">
            {{item.name}}
          </div>
        {{/if}}
      {{/if}}
    {{/each}}
  </div>
  <hr />
  <h3>{{genName "Injuries"}}</h3>
  <div style="display: flex; justify-content: flex-start; gap: 20px; padding: 10px;">
    <div class="wound-overview">
      <img src="systems/the_edge/icons/body_female.png" alt="Background" class="background-image">
      <div class="overlay">
        {{#each data.items as |item id|}}
          {{#if (checkEqual item.type "Wounds")}}
            <div class="item-control item" data-action="edit" data-item-id="{{item._id}}" style="cursor: pointer;">
              {{{getWoundCoords item.system.coordinates}}}
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
    <div style="columns: 2;">
      {{#each helpers.bodyParts as |bPart|}}
        <div style="padding-bottom: 10px; break-inside: avoid-column; min-width: 200px;">
          <b>{{genName bPart}}</b><hr />
          {{#each ../data.items as |item id|}}
            {{#if (checkEqual item.type "Wounds")}}
              {{#if (checkInstance bPart item.system.bodyPart)}}
                <div class="item-control item" data-action="edit" data-item-id="{{item._id}}" style="cursor: pointer; min-width: 200px;">
                  <h4 class="item-name" style="margin: 0px;">{{item.name}}</h4>
                  <div class="item-controls" style="display: flex; justify-content: space-between; white-space: no-wrap; padding: 0 0 5px 10px;">
                      <div>{{genName "Damage"}} {{item.system.damage}}</div>
                      <div>{{genName "Bleeding"}} {{item.system.bleeding}}</div>
                      <a class="item-control" title="{{ itemName 'Delete' }}" data-action="delete"><i class="fas fa-trash"></i></a>
                  </div>
                </div>
              {{/if}}
            {{/if}}
          {{/each}}
        </div>
      {{/each}}
    </div>
  </div>
</div>