<div class="fixed-page">
  <div class="title">
    <div class="section-title">{{combatName "Loadout"}}</div>
  </div>
  <div class="loadout-container">
    <div class="loadout-box">
      <div class="item-control item loadout-name" data-action="edit" style="cursor: pointer;" data-item-id="{{item._id}}">
        <img src="systems/the_edge/icons/fist.png" title="{{item.name}}" width="24" height="24" />
        <div>{{genName "Hand to Hand"}}</div>
      </div>
      <a class="weapon-d20 d20-black" data-tooltip="{{combatName 'Attack'}} - {{combatName 'Lead attr combatics'}}" data-type="Combatics">
        <span class="d20-overlay-weapon">{{calcCombaticsPL actor}}</span>
      </a>
    </div>
    {{#each data.items as |item|}}
      {{#if (checkEqual item.type 'Weapon')}}
        <div class="loadout-box">
          <div class="item-control item loadout-name" data-action="edit" style="cursor: pointer;" data-item-id="{{item._id}}">
            <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
            <div>{{item.name}} {{getLoadedAmmunition ../actor item}}</div>
          </div>
          <div class="weapon-id" style="display: flex; flex-wrap: nowrap; gap: 5px; align-items: center;" data-weapon-id="{{item._id}}">
            {{#if (checkEqual item.system.type "Combatics")}}
            {{else}}
              <div class="reload" style="background-color: black; font-size: large; font-weight: 500; color: white; width: 25px; height: 25px; text-align: center;">
                R
              </div>
            {{/if}}
            <a class="weapon-d20 d20-black" data-tooltip="{{combatName 'Attack'}}" data-type="{{item.system.type}}">
                <span class="d20-overlay-weapon">{{calcWeaponPL ../actor item._id}}</span>
            </a>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>