<form class="flexcol {{cssClass}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <h1 class="charname">
      <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
    </h1>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    {{#each itemTypes as |items type|}}
      <a class="item" data-tab="{{type}}">{{itemName type}}</a>
    {{/each}}
  </nav>

  <section class="sheet-body" style="position: relative;">
    {{#each itemTypes as |items type|}}
      <div class="tab tab-scroll" data-group="primary" data-tab="{{type}}">
        <div class="store-grid">
          {{#each items as |item|}}
            <div class="store-item store-item-glow">
              <div class="item-information" data-item-id="{{item._id}}">
                {{> systems/the_edge/templates/actors/store/meta-header.html}}

                {{#if (checkEqual type "Weapon")}}
                  {{> systems/the_edge/templates/actors/store/meta-weapon.html}}
                {{/if}}
                {{#if (checkEqual type "Ammunition")}}
                  {{> systems/the_edge/templates/actors/store/meta-ammunition.html}}
                {{/if}}
              </div>
              {{> systems/the_edge/templates/actors/store/meta-buy.html}}
            </div>
          {{/each}}
       </div>
      </div>
    {{/each}}
  </section>
</form>
