<!-- Set 'StoreDetails', 'id' as input -->
<div class="store-item store-item-glow" data-item-id="{{id}}" data-price="{{storePrice system.value storeDetails.tradeFactor}}">
  <div class="item-information">
    {{> systems/the_edge/templates/actors/store/meta-header.html}}

    {{#if (checkEqual type "Weapon")}}
      {{> systems/the_edge/templates/actors/store/meta-weapon.html}}
    {{/if}}
    {{#if (checkEqual type "Ammunition")}}
      {{> systems/the_edge/templates/actors/store/meta-ammunition.html}}
    {{/if}}
    {{#if (checkEqual type "Armour")}}
      {{> systems/the_edge/templates/actors/store/meta-armour.html}}
    {{/if}}
    {{#if (checkEqual type "Consumables")}}
      {{> systems/the_edge/templates/actors/store/meta-consumables.html}}
    {{/if}}
  </div>
  {{> systems/the_edge/templates/actors/store/meta-buy-or-retrieve.html}}
</div>