<table class="chat-table">
{{#each item.system.effect as |modifier|}}
  <tr>
    <td>{{genName modifier.group}}</td>
    <td>{{effectRequirementName modifier.field modifier.group}}</td>
    <td>{{modifier.value}}</td>
  </tr>
{{/each}}
</table>