<div class="section">
  <p class="section-title">{{genName "Languages"}}</p>
  <hr />
  <div class="section-content">
    <div class="native-language">
      <b>{{genName "Native language"}}:</b>
      <input name="system.nativeLanguage" type="text" value="{{systemData.nativeLanguage}}" placeholder="{{genName 'language'}}" />
    </div>
    <!-- Fix native language selector and the delete button -->
    </select><br/>
    <div class="language-container">
      {{#each data.items as |item|}}
        {{#if (checkEqual item.type "languageskill")}}
          <div class="language-box">
            {{item.name}} ({{item.system.level}} / {{#if item.system.humanSpoken}}6{{else}}3{{/if}})
            <div class="item-controls">
              <a class="item-control" title="{{ skillName 'decrease' }}" data-action="decrease"><i class="fas fa-minus"></i></a>
              <a class="item-control" title="{{ skillName 'increase' }}" data-action="increase"><i class="fas fa-plus"></i></a>
              <a class="item-control" title="{{ itemName 'Delete' }}" data-action="delete"><i class="fas fa-trash"></i></a>
            </div>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>
