<div class="actor-main row-section wrap">
    <div class="attributes-table" cellpadding="0">
        <div class="table-row">
            <div class="table-header"></div> <!-- Empty first cell-->
            {{#each prepare.attrs as |ch|}}
            <div data-tooltip="{{attrName ch}}" class="table-header">
                {{#if ../prepare.canAdvance}}
                    <a data-name="{{ch}}" advance-type="refund"  class="advance-attr"><i data-tooltip="{{getSys ../prepare 'attr' ch 'refund'}} PH" class="fas fa-minus advance-fa"></i></a>
                    <b>{{attrAbbr ch}}</b>
                    <a data-name="{{ch}}" advance-type="advance" class="advance-attr"><i data-tooltip="{{getSys ../prepare 'attr' ch 'cost'}} PH" class="fas fa-plus advance-fa"></i></a>
                {{else}}
                    <b>{{attrAbbr ch}}</b>
                {{/if}}
            </div>
            {{/each}}
        </div>
        <div class="table-row">
            <div class="row-type table-data">
                <div class="column-name lineheight">
                    {{localize "Advances"}}
                </div>
            </div>
            {{#each prepare.attrs as |ch|}}
            <div class="number-input table-data">
                <input class="attr-prof-combat-value" data-target="system.attributes.{{ch}}.advances" type="number" value="{{getSys ../actor 'attributes' ch 'advances'}}" data-dtype="Number">
            </div>
            {{/each}}
        </div>
        <div class="actor-main-attr-modifier table-row">
            <div class="row-type table-data">
                <div class="column-name lineheight">
                    {{localize "Modifiers"}}
                </div>
            </div>
            {{#each prepare.attrs as |ch|}}
            <div class="number-input table-data">
                <input name="system.attributes.{{ch}}.modifier" type="number" value="{{getSys ../actor 'attributes' ch 'modifier'}}" data-dtype="Number">
            </div>
            {{/each}}
        </div>
        <div class="table-row">
            <div class="row-type table-data">
                <div class="column-name lineheight">
                    {{localize "Status"}}
                </div>
            </div>
            {{#each prepare.attrs as |ch|}}
            <div class="table-data">
                <span class="output">{{getSys ../actor 'attributes' ch 'status'}}</span>
            </div>
            {{/each}}
        </div>
    </div>
</div>