<header class="sheet-header-item">
  <div class="item-columned-page">
    <div style="flex: 1; padding-top: 5px;">
      <div class="icon-selector-row" style="padding: 0 30px 0 30px;">
        {{#each types as |details type|}}
          {{>
            systems/the_edge/templates/generic/icon-selector.hbs
            icon=details.icon iconType="type" value=type selected=details.selected
          }}
        {{/each}}
      </div>
      <div class="icon-selector-row">
        {{#each subtypes as |details type|}}
          {{>
            systems/the_edge/templates/generic/icon-selector.hbs
            icon=details.icon iconType="subtype" value=type selected=details.selected
          }}
        {{/each}}
        <div class="icon-selector-outer">
          <input class="dynamic-icon icon-selector-text {{#if subtypeIsArbitrary}}icon-selector-selected{{/if}}"
            value="{{dynamicSubtype}}" placeholder="{{genName 'Other'}}" data-icon-type="subtype"/>
        </div>
      </div>
    </div>
    <div style="flex: 1; padding-top: 15px;">
      {{>
        systems/the_edge/templates/generic/progress-bar-modern.hbs
        value=item.system.capacity.value valueEditable=true valueDataPath="system.capacity.value"
        max=item.system.capacity.max maxEditable=true maxDataPath="system.capacity.max"
        name=(genName "Capacity") textScale=1.2
      }}
    </div>
  </div>
</header>
