<section
  class="tab {{tabs.details.cssClass}} ammunition-details"
  data-group="primary"
  data-tab="details"
  style="overflow-y: auto; overflow-x: hidden"
>
  {{> systems/the_edge/templates/items/Ammunition-details-content.hbs}}
</section>
