{{#each item.system.subtypes.grenade.effects as |effectGroups category|}}
  {{#unless (checkEqual category "smoke")}}
  {{#if effectGroups.active}}
    <h4>{{combatName category}}</h4>
    {{#each effectGroups as |modifiers distance|}}
      {{#unless (checkEqual distance "active")}}
        <div class="effect-modifiers-hook" data-type="grenade-effect"
          data-category="{{category}}" data-distance="{{distance}}" style="padding-bottom: 7px;">
          {{> systems/the_edge/templates/generic/effect-modifiers.hbs
            modifiers=modifiers
            definedEffects=../../definedEffects
            interactive=true
            title=(combatName distance)
          }}
        </div>
      {{/unless}}
      {{#unless @last}}
        <hr />
      {{/unless}}
    {{/each}}
  {{/if}}
  {{/unless}}
{{/each}}