<section
  class="tab {{tabs.effects.cssClass}} grenade-effects"
  data-group="primary"
  data-tab="effects"
  style="overflow-y: auto; overflow-x: hidden"
>
  {{> systems/the_edge/templates/items/Grenade-effects-content.hbs}}
</section>