<form class="flexcol {{cssClass}}" autocomplete="off" style="height: 100%;">
  <header class="sheet-header-item">
    <div class="item-columned-page">
      <div style="width: 100px;">
        <img class="profile-img-item" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
      </div>
      <div style="flex: 1">
        <h3 class="charname">
          <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
        </h3>
        <div class="skill-header-fields" style="justify-content: space-between;">
          <div>
            <input class="max-level" type="number" id="maxLevel" name="system.maxLevel" value="{{systemData.maxLevel}}" style="text-align: right; width: 15%;"/>
            <label for="maxLevel" style="white-space: nowrap;">Max {{genName "Level"}}</label>
          </div>
          {{#if (checkIn "basis" systemData)}}
            <div style="display: flex; align-items: center;">
              <label for="basis" style="white-space: nowrap; padding-left: 10px;">{{genName "Uses"}}</label>
              <select class="selection-box" name="system.basis" id="basis" style="max-height: 24px;">
                <option value="Medicine" {{#if (checkEqual "Medicine" systemData.basis)}}selected{{/if}}>{{proficiencyName "Medicine"}}</option>
                <option value="First Aid" {{#if (checkEqual "First Aid" systemData.basis)}}selected{{/if}}>{{proficiencyName "First Aid"}}</option>
              </select>
            </div>
          {{/if}}
        </div>
        <div class="skill-header-fields">
          <input type="text" id="cost" name="system.cost" value="{{systemData.cost}}" style="text-align: right;"/>
          <label for="cost" style="white-space: nowrap;">{{genName "PH Cost"}}</label>
        </div>
        <div class="skill-header-fields">
          <input type="text" id="hrCost" name="system.hrCost" value="{{systemData.hrCost}}" style="text-align: right;"/>
          <label for="hrCost" style="white-space: nowrap;">{{genName "HR Cost"}}</label>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="details">Details</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body" style="overflow-y: auto;">
    <div class="tab" data-group="primary" data-tab="details">
      <h3>{{genName "Effects"}}</h3>
      {{#each systemData.levelEffects as |effectList|}}
        <div class="effect-level" data-index="{{@index}}" data-type="levelEffects" style="display: flex; justify-content: space-between;">
          <b>Level {{add @index 1}} {{genName "Effects"}}</b>
          <a class="effect-level-add" title="{{ itemName 'Create' }}" data-action="create"><i class="fas fa-plus"></i> {{ itemName "Add" }}</a>
        </div>
        <div class="effect-level" data-index="{{@index}}" data-type="levelEffects" style="padding-left: 10px;">
          {{#each effectList as |effect|}}
            <div class="item-columned-page" style="align-items: center;">
              <select class="selection-box effect-level-modify" data-index="{{@index}}" data-target="group">
                {{#each ../../definedEffects as |name group|}}
                  <option value="{{group}}" {{#if (checkEqual effect.group group)}}selected{{/if}}>{{genName group}}</option>
                {{/each}}
              </select>
              <select class="selection-box effect-level-modify" data-index="{{@index}}" data-target="name" style="min-width: 50%;">
                {{#each (getEntry ../../definedEffects effect.group) as |target name|}}
                  <option value="{{name}}" {{#if (checkEqual effect.name name)}}selected{{/if}}>{{effectRequirementName name effect.group}}</option>
                {{/each}}
              </select>
              <input class="effect-level-modify" data-index="{{@index}}" type="number" data-target="value" value="{{effect.value}}" style="width: 45px; text-align: right;"/>
              <a class="effect-level-delete" data-index="{{@index}}" title="{{ itemName 'delete' }}"><i class="fas fa-trash"></i></a>
            </div>
          {{/each}}
        </div>
        <hr />
      {{/each}}
      <h3>{{genName "Requirements"}}</h3>
      {{#each systemData.requirements as |levelRequirements|}}
        <div class="effect-level" data-index="{{@index}}" data-type="requirements" style="display: flex; justify-content: space-between;">
          <b>Level {{add @index 1}} {{genName "Requirements"}}</b>
          <a class="effect-level-add" title="{{ itemName 'Create' }}" data-action="create"><i class="fas fa-plus"></i> {{ itemName "Add" }}</a>
        </div>
        <div class="effect-level" data-index="{{@index}}" data-type="requirements" style="padding-left: 10px;">
          {{#each levelRequirements as |requirement|}}
            <div class="item-columned-page" style="align-items: center;">
              <select class="selection-box effect-level-modify" data-index="{{@index}}" data-target="group">
                {{#each ../../coreRequirements as |name group|}}
                  <option value={{group}} {{#if (checkEqual requirement.group group)}}selected{{/if}}>{{genName group}}</option>
                {{/each}}
              </select>
              <select class="selection-box effect-level-modify" data-index="{{@index}}" data-target="name" style="width: 50%;">
                {{#each (getEntry ../../coreRequirements requirement.group) as |target name|}}
                  <option value="{{name}}" {{#if (checkEqual requirement.name name)}}selected{{/if}}>{{effectRequirementName name requirement.group}}</option>
                {{/each}}
              </select>
              <input class="effect-level-modify" data-index="{{@index}}" data-target="value" type="number" value="{{requirement.value}}" style="width: 45px; text-align: right;"/>
              <a class="effect-level-delete" data-index="{{@index}}" title="{{ itemName 'delete' }}"><i class="fas fa-trash"></i></a>
            </div>
          {{/each}}
        </div>
        <hr />
      {{/each}}
    </div>

    {{> systems/the_edge/templates/items/meta-description.html}}
  </section>
</form>
