<form class="flexcol {{cssClass}}" autocomplete="off">
  <header class="sheet-header-item">
    <div class="item-columned-page">
      <div style="width: 100px;">
        <img class="profile-img-item" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
      </div>
      <div style="flex: 1">
        <h3 class="charname">
          <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
        </h3>
        <div class="item-columned-page">
          <div class="item-header-fields">
            {{genName "Weight"}}<br/>
            <input type="number" name="system.weight" value="{{data.system.weight}}" data-dtype="Number"/>
          </div>
          <div class="item-header-fields">
            {{genName "Value"}}<br/>
            <input type="number" name="system.value" value="{{data.system.value}}" data-dtype="Number"/>
          </div>
          <div class="item-header-fields">
            {{genName "Type"}}<br/>
            <select class="selection-box" name="system.type" id="Type Selector">
              {{#each helpers.weapon_types as |type|}}
                <option value="{{type}}" {{#if (checkEqual type ../data.system.type)}}selected{{/if}}>{{type}}</option>
              {{/each}}
            </select>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="details">Details</a>
    <a class="item" data-tab="effects">Effects</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="details">
      {{#if (checkEqual systemData.type "Hand-to-Hand combat")}}
        <div style="display: flex; justify-content: space-around; align-items: center;">
          <div class="item-fields" style="gap: 10px; text-align: center;">
            <div style="align-items: center; display: flex; flex-flow: nowrap; gap: 5px;">
              <b>{{genName "Damage"}}</b>
              {{#each systemData.fireModes as |mode|}}
                {{#if @first}}
                  <input class="firing-mode firing-mode-modify" data-index="{{@index}}" type="text" data-target="damage" value="{{mode.damage}}" style="width: 80px"/>
                {{/if}}
              {{/each}}
            </div>
            <div class="checkbox-container">
              <input type="checkbox" id="is-elemental" name="system.isElemental" {{#if systemData.isElemental}}checked{{/if}} style="margin-left: 0px;"/>
              <label for="is-elemental">{{combatName "Elemental"}}</label>
            </div>
          </div>
          <div style="display: flex; gap: 10px; text-align: center;">
            {{> systems/the_edge/templates/items/meta-leading-attr.html}}
          </div>
        </div>
      {{else}}
        <div class="item-columned-page">
          <!-- Fire modes -->
          <div class="item-fields" style="gap: 10px; padding: 0;">
            <b>{{combatName "Fire modes"}}</b>
            {{#each systemData.fireModes as |mode|}}
              <div class="firing-mode" data-index="{{@index}}" style="align-items: center; display: flex; white-space: nowrap; justify-content: space-between; gap: 5px; padding-bottom: 2px;">
                <input class="firing-mode-modify" data-target="name" type="text" value="{{mode.name}}" style="text-align: left; width: 90px;" title="{{combatName 'Ammunition cost'}}"/>
                <div style="width: 220px;">
                  <input class="firing-mode-modify" data-target="cost" type="number" value="{{mode.cost}}" style="width: 25px; text-align: right;" title="{{combatName 'Ammunition cost'}}"/>
                  <input class="firing-mode-modify" data-target="dices" type="number" value="{{mode.dices}}" style="width: 25px; text-align: right;" title="{{combatName 'damage dice'}}"/>
                  x
                  <input class="firing-mode-modify" data-target="damage" type="text" value="{{mode.damage}}" style="width: 80px"/>
                  {{#each mode.precisionPenalty as |mod|}}
                    <input class="firing-mode-modify" data-target="{{concat 'precisionPenalty' @index}}" type="number" value="{{mod}}" style="width: 25px; text-align: right;" title="{{combatName (concat 'Precision penalty '@index)}}"/>
                  {{/each}}
                  {{#if ../systemData.userIsGM}}
                    <a class="firing-mode-delete" title="{{ combatName 'Delete Firing mode' }}"><i class="fas fa-trash"></i></a>
                  {{/if}}
                </div>
              </div>
            {{/each}}
            {{#if systemData.userIsGM}}
            <div style="text-align: right; margin-right: 14px; height: 0;">
              <a class="firing-mode-add" title="{{ combatName 'Add Firing mode' }}"><i class="fas fa-plus"></i></a>
            </div>
            {{/if}}
            <div style="display: flex; flex-flow: nowrap; justify-content: space-between; padding-top: 2px; margin-right: 14px;">
              <div style="flex-flow: wrap;">
                <div class="checkbox-container">
                  <input type="checkbox" id="is-elemental" name="system.isElemental" {{#if systemData.isElemental}}checked{{/if}} />
                  <label for="is-elemental">{{combatName "Elemental"}}</label>
                </div>
                <div class="checkbox-container">
                  <input type="checkbox" id="multiple-targets" name="system.multipleTargets" {{#if systemData.multipleTargets}}checked{{/if}} />
                  <label for="multiple-targets" title="{{combatName 'Multi target help'}}">{{combatName "multiple targets"}}</label>
                </div>
              </div>
              <div style="white-space: nowrap; display: inline-block; align-self: flex-end;">
                {{combatName 'Reload duration'}}
                <input type="number" name="system.reloadDuration" value="{{systemData.reloadDuration}}" title="{{combatName 'reload duration description'}}" style="width: 30px; height: 20px; text-align: right; margin: 3px 0 3px 3px;"/>
              </div>
            </div>
          </div>
          <div class="item-fields">
            {{> systems/the_edge/templates/items/meta-leading-attr.html}}
          </div>
        </div>
        <hr />
        <!-- Range Chart -->
        <div class="item-columned-page">
          <div style="margin-bottom: 5px;">
            <b>{{combatName "Range chart"}}</b><br/>
          </div>
        </div>
        <div class="item-columned-page" style="align-items: baseline;">
          <div class="item-columned-page">
            {{#each data.system.rangeChart as |mods range|}}
            <div style="flex: 1; text-align: center;">
              {{genRange range}}<br/>
              <div>
                {{#each mods as |mod|}}
                  <input type="number" name="system.rangeChart.{{range}}" value="{{mod}}" style="width: 45%; text-align: right;"/>
                {{/each}}
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      {{/if}}
    </div>
    {{> systems/the_edge/templates/items/meta-effects.html}}
    {{> systems/the_edge/templates/items/meta-description.html}}
  </section>
</form>
