<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header-item">
        <div class="item-columned-page">
            <div style="width: 100px;">
                <img class="profile-img-item" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
            </div>
            <div style="flex: 1">
                <h3 class="charname">
                    <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
                </h3>
                <div class="item-columned-page">
                    <div class="item-header-fields">
                        {{genName "Weight"}}<br/>
                        <input type="number" name="system.weight" value="{{data.system.weight}}" data-dtype="Number"/>
                    </div>
                    <div class="item-header-fields">
                        {{genName "Value"}}<br/>
                        <input type="number" name="system.value" value="{{data.system.value}}" data-dtype="Number"/>
                    </div>
                    <div class="item-header-fields">
                        {{genName "Quantity"}}<br/>
                        <input type="number" name="system.quantity" value="{{data.system.quantity}}" data-dtype="Number"/>
                    </div>
                    <div class="item-header-fields">
                        {{genName "Type"}}<br/>
                        <select class="selection-box" name="system.subtype" id="Type Selector">
                            {{#each systemData.subtypes as |details typeName|}}
                                <option value="{{typeName}}" {{#if (checkEqual ../systemData.subtype typeName)}}selected{{/if}}>{{itemName typeName}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="effects">Effects</a>
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{#if (checkEqual systemData.subtype "grenade")}}
        {{else}}
            {{#if (checkEqual systemData.subtype "medicine")}}
                <div class="item-columned-page" style="align-items: baseline;">
                    <div class="item-fields">
                        <label for="Healing">{{genName "Healing"}}</label><br/>
                        <input type="text" id="Healing" name="system.subtypes.medicine.healing" value="{{systemData.subtypes.medicine.healing}}"/>
                    </div>
                    <div class="item-fields">
                        <label for="Coagulation">{{genName "Coagulation"}}</label><br/>
                        <input type="text" id="Coagulation" name="system.subtypes.medicine.coagulation" value="{{systemData.subtypes.medicine.coagulation}}"/>
                    </div>
                    <div class="item-fields" style="white-space: nowrap;">
                        <label for="ActionCost">{{genName "Action Cost"}}</label><br/>
                        <input type="number" id="ActionCost" name="system.subtypes.medicine.actionCost" value="{{systemData.subtypes.medicine.actionCost}}"/>
                    </div>
                    <div class="item-fields">
                        <label for="Medicine Effect Selector">{{genName "Effect"}}</label><br/>
                        <select class="selection-box" name="system.subtypes.medicine.effect" id="Medicine Effect Selector">
                            {{#each helpers.medicineEffects as |effect|}}
                                <option value="{{effect}}" {{#if (checkEqual ../systemData.subtypes.medicine.effect effect)}}selected{{/if}}>{{itemName effect}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div> 
            {{else}}
                {{> systems/the_edge/templates/items/meta-effects.html}}
            {{/if}}
        {{/if}}
        {{> systems/the_edge/templates/items/meta-description.html}}
    </section>
</form>
