<form class="flexcol {{cssClass}}" autocomplete="off">
  <header class="sheet-header-item">
    <div class="item-columned-page">
      <div style="width: 100px;">
        <img class="profile-img-item" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
      </div>
      <div style="flex: 1">
        <h3 class="charname">
          <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
        </h3>
        <div class="item-columned-page">
          <div class="item-header-fields">
            {{genName "Weight"}}<br/>
            <input type="number" name="system.weight" value="{{data.system.weight}}" data-dtype="Number"/>
          </div>
          <div class="item-header-fields">
            {{genName "Value"}}<br/>
            <input type="number" name="system.value" value="{{data.system.value}}" data-dtype="Number"/>
          </div>
          <div class="item-header-fields" style="white-space: nowrap;">
            {{combatName "Structure points"}}<br/>
            <div style="display: flex;">
              <input type="number" name="system.structurePoints" value="{{data.system.structurePoints}}" data-dtype="Number"/>
              /
              <input type="number" name="system.structurePointsOriginal" value="{{data.system.structurePointsOriginal}}" data-dtype="Number"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="details">{{genName "Details"}}</a>
    {{#if (checkEqual data.system.layer "Inner")}}
      <a class="item" data-tab="attachments">{{genName "Attachments"}}</a>
    {{/if}}
    <a class="item" data-tab="effects">{{genName "Effects"}}</a>
    <a class="item" data-tab="description">{{genName "Description"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="details">
      <div class="item-columned-page" style="align-items: baseline;">
        <div class="item-fields">
          {{combatName "Layer"}}<br/>
          <select class="selection-box" name="system.layer" id="Type Selector">
            <option value="Inner" {{#if (checkEqual data.system.layer "Inner")}}selected{{/if}}>{{combatName "Inner"}}</option>
            <option value="Outer" {{#if (checkEqual data.system.layer "Outer")}}selected{{/if}}>{{combatName "Outer"}}</option>
          </select>
        </div>
        <div class="item-fields">
          {{actorName "Body Part"}}
          <select class="selection-box" name="system.bodyPart" id="Location Selector">
            {{#each helpers.bodyParts as |bPart|}}
              <option value={{bPart}} {{#if (checkEqual ../data.system.bodyPart bPart)}}selected{{/if}}>{{actorName bPart}}</option>
            {{/each}}
          </select>
        </div>
        <div class="item-fields" style="white-space: nowrap;">
          {{#if (checkEqual data.system.layer "Inner")}}
            {{combatName "Attachment Points"}}<br/>
            <div>
              <div class="output" title="{{genName 'available'}}" style="width: 44%; height: 26px; line-height: 1.45rem;">{{sub systemData.attachmentPoints.max systemData.attachmentPoints.used}}</div>
              /
              <input type="number" name="system.attachmentPoints.max" value="{{data.system.attachmentPoints.max}}" data-dtype="Number" style="width: 44%;"/>
            </div>
          {{else}}
            {{combatName "Attachment Size"}}<br/>
            <input type="number" name="system.attachmentPoints.max" value="{{data.system.attachmentPoints.max}}" data-dtype="Number"/>
          {{/if}}
        </div>
      </div><hr />
      {{combatName "Damage Modifiers"}}
      <table>
        <tr>
          <td></td>
          <td style="text-align: right;">{{combatName "Energy"}}</td>
          <td style="text-align: right;">{{combatName "Kinetic"}}</td>
          <td style="text-align: right;">{{combatName "Elemental"}}</td>
        </tr>
        <tr>
          <td data-tooltip="Absorbed incoming damage by this amount">{{combatName "absorption"}}</td>
          {{#each data.system.protection as |modifier type|}}
            <td style="text-align: right;"><input type="number" name="system.protection.{{type}}.absorption" value="{{modifier.absorption}}" style="width: 80%;"/></td>
          {{/each}}
        </tr>
        <tr>
          <td data-tooltip="Maximum damage before transfering further down">{{combatName "threshold"}}</td>
          {{#each data.system.protection as |modifier type|}}
            <td style="text-align: right;"><input type="number" name="system.protection.{{type}}.threshold" value="{{modifier.threshold}}" style="width: 80%"/></td>
          {{/each}}
        </tr>
      </table>
    </div>
    {{#if (checkEqual data.system.layer "Inner")}}
      {{> systems/the_edge/templates/items/meta-attachments.html}}
    {{/if}}
    {{> systems/the_edge/templates/items/meta-effects.html}}
    {{> systems/the_edge/templates/items/meta-description.html}}
  </section>
</form>
