<form class="flexcol {{cssClass}}" autocomplete="off">
  <header class="sheet-header-item">
    <div class="item-columned-page">
      <div style="width: 100px;">
        <img class="profile-img-item" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
      </div>
      <div style="flex: 1">
        <h3 class="charname">
          <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
        </h3>
        <div class="item-columned-page" style="justify-content: start;">
          <div class="item-header-fields" style="max-width: 32%;">
            <div title="{{genName 'AdvantagePoints'}}">AP</div>
            <input type="number" name="system.AP" value="{{data.system.AP}}" data-dtype="Number"/>
          </div>
          <div class="item-header-fields" style="max-width: 40%;">
            {{genName "Level"}} / max<br/>
            <div>
              <input type="number" name="system.level" value="{{data.system.level}}" data-dtype="Number" style="width: 45%"/>
              <input type="number" name="system.maxLevel" value="{{data.system.maxLevel}}" data-dtype="Number" style="width: 45%"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{> systems/the_edge/templates/items/meta-description.html}}
  </section>
</form>
