<form class="flexcol {{cssClass}}" autocomplete="off">
  <header class="sheet-header-item">
    <div class="item-columned-page">
      <div style="width: 100px;">
        <img class="profile-img-item" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
      </div>
      <div style="flex: 1">
        <h3 class="charname">
          <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
        </h3>
        <div class="item-columned-page">
          <div class="item-header-fields">
            {{genName "Damage"}}<br/>
            <input class="damage-input" type="number" name="system.damage" value="{{data.system.damage}}" data-dtype="Number"/>
          </div>
          <div class="item-header-fields">
            {{genName "Bleeding"}}<br/>
            <input type="number" name="system.bleeding" value="{{data.system.bleeding}}" data-dtype="Number"/>
          </div>
          <div class="item-header-fields">
            {{itemName "Body part"}}<br/>
            <select class="selection-box wound-location" name="system.bodyPart" id="Type Selector">
              {{#each helpers.bodyParts as |bodyPart|}}
                <option value="{{bodyPart}}" {{#if (checkEqual ../systemData.bodyPart bodyPart)}}selected{{/if}}>{{itemName bodyPart}}</option>
              {{/each}}
            </select>
          </div>
          <div class="item-header-fields">
            {{itemName "Wound type"}}<br/>
            <select class="selection-box" name="system.type" id="Type Selector">
              <option value="abrasion" {{#if (checkEqual systemData.type "abrasion")}}selected{{/if}}>{{combatName "abrasion"}}</option>
              <option value="laceration" {{#if (checkEqual systemData.type "laceration")}}selected{{/if}}>{{combatName "laceration"}}</option>
              <option value="fracture" {{#if (checkEqual systemData.type "fracture")}}selected{{/if}}>{{combatName "fracture"}}</option>
              <option value="light burn" {{#if (checkEqual systemData.type "light burn")}}selected{{/if}}>{{combatName "light burn"}}</option>
              <option value="strong burn" {{#if (checkEqual systemData.type "strong burn")}}selected{{/if}}>{{combatName "strong burn"}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{> systems/the_edge/templates/items/meta-description.html}}
  </section>
</form>
