<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header-item">
        <div class="item-columned-page">
            <div style="width: 100px;">
                <img class="profile-img-item" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
            </div>
            <div style="flex: 1">
                <h3 class="charname">
                    <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
                </h3>
                <div class="item-columned-page" style="justify-content: start;">
                    <div class="item-header-fields">
                        <label for="hasLevels">{{itemName "human spoken"}}</label>
                        <input type="checkbox" id="hasLevels" name="system.humanSpoken" {{#if systemData.humanSpoken}}checked{{/if}} />
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{> systems/the_edge/templates/items/meta-description.html}}
    </section>
</form>
