<div style="width: min-content;">
  <b>{{genName "_attr"}} 1</b><br />
  {{#if systemData.userIsGM}}
    <select class="selection-box" name="system.leadAttr1.name" id="Attr1-Selector" style="width: 57px; text-transform: capitalize;">
      {{#each helpers.attrs as |attr|}}
        <option value={{attr}} {{#if (checkEqual attr ../data.system.leadAttr1.name)}}selected{{/if}}>{{attr}}</option>
      {{/each}}
    </select><br/>
  {{else}}
    <a class="attr-d20-chat d20-{{data.system.leadAttr1.name}}">
      <span class="d20-overlay" data-tooltip="{{attrName data.system.leadAttr1.name}}">{{data.system.leadAttr1.name}}</span>
    </a><br />
  {{/if}}
  <input type="number" name="system.leadAttr1.value" value="{{data.system.leadAttr1.value}}" style="width: 57px;"/><br />
</div>
<div style="width: min-content;">
  <b>{{genName "_attr"}} 2</b><br />
  {{#if systemData.userIsGM}}
    <select class="selection-box" name="system.leadAttr2.name" id="Attr2-Selector" style="width: 57px; text-transform: capitalize;">
      {{#each helpers.attrs as |attr|}}
        <option value={{attr}} {{#if (checkEqual attr ../data.system.leadAttr2.name)}}selected{{/if}}>{{attr}}</option>
      {{/each}}
    </select><br/>
  {{else}}
    <a class="attr-d20-chat d20-{{data.system.leadAttr2.name}}">
      <span class="d20-overlay" data-tooltip="{{attrName data.system.leadAttr2.name}}">{{data.system.leadAttr2.name}}</span>
    </a><br />
  {{/if}}
  <input type="number" name="system.leadAttr2.value" value="{{data.system.leadAttr2.value}}" style="width: 57px;"/>
</div>