<div class="tab" data-group="primary" data-tab="effects">
  <div style="margin: 0 10px 0px 10px;">
    <div class="effect-hint" style="display: flex; flex-wrap: nowrap; padding: 10px; background-color: #777; justify-content: space-between; color: white;">
      <div>{{genName "Explanations"}}</div>
      {{#if helpers.displayHint}}
        <i class="fas fa-chevron-up"></i>
      {{else}}
        <i class="fas fa-chevron-down"></i>
      {{/if}}
    </div>
    {{#if helpers.displayHint}}
      <div style="background-color: #AAA; padding: 10px;">
        {{textLocalisation "Effects"}}
      </div>
    {{else}}
    {{/if}}
  </div><br />
  {{#each systemData.effects as |effect|}}
      <div class="item-columned-page" style="align-items: center;">
          <input class="effect-modify" data-index="{{@index}}" type="text" value="{{effect.modifier}}"/>
          <input class="effect-modify" data-index="{{@index}}" type="number" value="{{effect.value}}" style="width: 45px;"/>
          <a class="effect-delete" data-index="{{@index}}" title="{{ itemName 'delete' }}"><i class="fas fa-trash"></i></a>
      </div>
  {{/each}}
  <a class="effect-add" title="{{ itemName 'Create' }}" data-action="create"><i class="fas fa-plus"></i> {{ itemName "Add" }}</a>
</div>
