<div class="tab" data-group="primary" data-tab="description">
  <h3>{{genName "Requirements"}}</h3>
  {{#each systemData.requirements as |levelRequirements|}}
    <b>
      Level {{add @index 1}} {{genName "Requirements"}}
    </b><br />
    <div class="effect-level" data-index="{{@index}}" data-type="requirements">
        {{#each levelRequirements as |requirement|}}
          <div class="item-columned-page" style="align-items: center;">
            <input class="effect-level-modify" data-index="{{@index}}" type="text" value="{{requirement.modifier}}"/>
            <input class="effect-level-modify" data-index="{{@index}}" type="number" value="{{requirement.value}}" style="width: 45px;"/>
            <a class="effect-level-delete" data-index="{{@index}}" title="{{ itemName 'delete' }}"><i class="fas fa-trash"></i></a>
          </div>
        {{/each}}
      <a class="effect-level-add" title="{{ itemName 'Create' }}" data-action="create"><i class="fas fa-plus"></i> {{ itemName "Add" }}</a>
    </div>
    <hr />
  {{/each}}
  <h3>{{genName "Description"}}</h3>
  {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
</div>
