@keyframes fillGrow {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.animation-glow-sweep {
  animation: keyframes-glow-sweep 4s ease-in-out infinite;
}
@keyframes keyframes-glow-sweep {
  0% {
    transform: translateX(-120%);
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateX(120%);
    opacity: 0;
  }
}
@property --animated-pulsate-glow {
  syntax: '<number>';
  inherits: false;
  initial-value: 1;
}
.animation-pulsate-glow {
  animation: keyframes-pulsate-glow 6s ease-in-out infinite;
}
@keyframes keyframes-pulsate-glow {
  0% {
    --animated-pulsate-glow: 1;
  }
  30% {
    --animated-pulsate-glow: 1.5;
  }
  60% {
    --animated-pulsate-glow: 1;
  }
  100% {
    --animated-pulsate-glow: 1;
  }
}
