.the-edge-application .application-shape-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.the-edge-application .the-edge-application-header {
  position: absolute;
  left: 65%;
  top: 3%;
  right: 2%;
  height: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px 0 4px;
  background: none;
  border: 0 solid;
  border-radius: 12px;
  transition: background-color 0.4s ease-in-out;
}
.the-edge-application .the-edge-application-header .application-header-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.the-edge-application .the-edge-application-header .application-header-details .details-icons {
  display: flex;
  align-items: center;
  gap: 5px;
}
.the-edge-application .the-edge-application-header:hover {
  background-color: #020d21;
}
.the-edge-application .the-edge-application-header:hover .application-header-details {
  opacity: 1;
}
.the-edge-application .content-clip {
  position: absolute;
  width: 100%;
  height: 100%;
}
.the-edge-application .content-clip .the-edge-window-content {
  position: absolute;
  left: 5%;
  top: 10%;
  right: 5%;
  bottom: 9%;
  padding: 0;
}
.the-edge-application .custom-header-bar {
  position: absolute;
  left: 8%;
  top: 4.2%;
  width: 51%;
  height: 4.5%;
}
.the-edge-application .custom-footer-bar {
  position: absolute;
  right: 8%;
  bottom: 4%;
  width: 51%;
  height: 4.5%;
  display: flex;
  justify-content: space-around;
}
.the-edge-application .the-edge-application-nav {
  height: 28px;
  border: none;
  display: flex;
  align-items: start;
  margin: 0 8px 8px 8px;
  gap: 10px;
  padding: 0 5px;
  font-size: 14px;
  color: #ccc;
  gap: 0;
}
.the-edge-application .the-edge-application-nav::after {
  content: "";
  position: absolute;
  position-anchor: --hovered-highlight;
  border-radius: 6px;
  inset: anchor(top) anchor(right) anchor(bottom) anchor(left);
  box-shadow: 0 0 8px 0 white;
  transition: all 0.2s linear;
  pointer-events: none;
}
.the-edge-application .the-edge-application-nav .tab-element {
  flex: 1;
  height: 28px;
  line-height: calc(28px - 8px);
  box-shadow: inset 0 0 8px 0 rgba(3, 14, 35, 0.5);
  transition: all 0.4s ease-in-out;
}
.the-edge-application .the-edge-application-nav .tab-element:hover {
  anchor-name: --hovered-highlight;
}
.the-edge-application .the-edge-application-nav .active {
  font-size: 18px;
  color: #e4e7fe;
  transition: all 0.4s 0.2s ease-in-out;
  anchor-name: --hovered-highlight;
}
.the-edge-application .the-edge-application-nav:has(.tab-element:hover) .tab-element.active:not(:hover) {
  anchor-name: none;
}
