@import "root.less";

.dialog-form-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px 12px;
}

.dialog-form-grid label {
  white-space: nowrap;
}

.dialog-modifier-table {
}

.dialog-modifier-table > tbody > tr > td:last-child {
  padding-right: 0;
}
