:root {
  --colour-ui-main-1: #70d7f2;
  --colour-ui-main-background: #31395a;
  --colour-ui-main-background-1: #2a395a;
  --colour-ui-main-background-2: #2a507a;
  --colour-ui-secondary: #bd9f09;
  --colour-ui-secondary-1: #f29d70;
  --font-main-color: #e4e7fe;
  --font-secondary-color: #ccc;
  --colour-text-light-highlight: #fff;
  --gap-boxes: 10px;
  --colour-underline-header: #bd9f09;
}
.dialog-advantage-box {
  width: 150px;
  height: 25px;
}
.dialog-form-flex {
  display: flex;
  flex-flow: row wrap;
  gap: 9px;
  align-items: center;
}
.dialog-form-flex .dialog-modifier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.dialog-form-flex td {
  padding: 2px 10px;
}
.dialog-form-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px 12px;
}
.dialog-form-grid label {
  white-space: nowrap;
}
.dialog-modifier-table > tbody > tr > td:last-child {
  padding-right: 0;
}
