.the-edge-hotbar {
  position: relative;
  width: 100%;
  height: auto;
  opacity: 1;
  display: block;
}
.the-edge-hotbar .hotbar-content {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  display: flex;
}
.the-edge-hotbar .hotbar-content .hotbar-actor-name {
  font-size: 18px;
  width: 85%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.the-edge-hotbar .hotbar-content .hotbar-carousel-button {
  border: none;
  background: none;
  box-shadow: none;
  color: var(--font-main-color);
}
.the-edge-hotbar .hotbar-content .hotbar-carousel-button:hover {
  filter: drop-shadow(0 0 3px var(--font-main-color));
}
.the-edge-hotbar .hotbar-content .hotbar-content-attributes {
  position: absolute;
  left: 15px;
  top: 10px;
  width: calc(17% - 15px);
  bottom: 15px;
}
.the-edge-hotbar .hotbar-content .hotbar-content-status-bars {
  position: absolute;
  left: 19%;
  top: 10px;
  width: 14%;
  bottom: 15px;
}
.the-edge-hotbar .hotbar-content .hotbar-content-proficiency {
  position: absolute;
  left: 35%;
  top: 25px;
  width: 14%;
  bottom: 0;
}
.the-edge-hotbar .hotbar-content .hotbar-content-weapon {
  position: absolute;
  left: 51%;
  top: 25px;
  width: 14%;
  bottom: 0;
}
.the-edge-hotbar .hotbar-content .hotbar-content-dynamic {
  position: absolute;
  left: 67%;
  top: 25px;
  right: 15px;
  bottom: 0;
}
.the-edge-hotbar .hotbar-content .hotbar-d20 {
  width: 130%;
  box-shadow: none;
}
.the-edge-hotbar .hotbar-content .hotbar-d20:hover {
  filter: drop-shadow(0 0 3px var(--font-main-color));
}
.the-edge-hotbar .hotbar-content .hotbar-d20-proficiency {
  width: 10%;
  min-width: 10%;
  height: fit-content;
  min-height: 10pt;
  background: none;
  border: none;
  box-shadow: none;
}
.the-edge-hotbar .hotbar-content .hotbar-d20-overlay {
  white-space: nowrap;
  position: absolute;
  transform: translate(0%, 10%);
  font-weight: bold;
  font-size: 14px;
  filter: drop-shadow(0 0 2px white);
  border-radius: 5px;
  color: #1a1a1b;
}
.the-edge-hotbar .hotbar-content .hotbar-double-column {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 5px;
  margin-top: 5px;
  width: 100%;
}
.the-edge-hotbar .hotbar-content .hotbar-hero-token-anchor {
  border: none;
  background-color: transparent;
  background-position: center center;
  height: 100%;
  width: auto;
  aspect-ratio: 1;
  display: inline-block;
}
.the-edge-hotbar .hotbar-content .hotbar-hero-token-img {
  height: 100%;
  width: auto;
  object-fit: cover;
}
.the-edge-hotbar .hotbar-content .hotbar-item-element {
  padding: 2px 12px 2px 12px;
  position: absolute;
  left: 0;
  top: 15%;
  right: 0;
  bottom: 20px;
  line-height: 24px;
  color: var(--font-main-color);
}
.the-edge-hotbar .hotbar-content .hotbar-scroll-button {
  border: none;
  box-shadow: none;
  background: none;
  color: white;
}
.the-edge-hotbar .hotbar-content .hotbar-separator {
  filter: blur(1px) drop-shadow(0 0 2px var(--colour-ui-secondary)) brightness(var(--animated-pulsate-glow));
}
.the-edge-hotbar .hotbar-content .hotbar-button {
  width: 100%;
  justify-content: start;
  padding: 0 3px;
}
.the-edge-hotbar .hotbar-content .hotbar-button .button-text {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: start;
}
