:root {
  --color-ui-main-1: #70D7F2;
  --color-ui-main-background: #31395A;
  --color-ui-main-background-1: #2A395A;
  --color-ui-main-background-2: #2A507A;
  --color-ui-secondary: #bd9f09;
  --color-ui-secondary-1: #F29D70;
  --font-main-color: #e4e7fe;
  --font-secondary-color: #ccc;
  --color-text-light-highlight: #FFF;
}
